.padbox {
    padding: 100px;
}

.gray {
    background: lightgray;
}



.white {
    background: white;
}

.margin {
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}